@model IList<HighlightPostViewModel>
<div class="container py-5">
    <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
        <h5 class="fw-bold text-primary text-uppercase">Bài viết mới nhất</h5>
        <h1 class="mb-0">Tổng hợp những bài viết mới nhất từ chúng tôi!</h1>
    </div>
    <div class="row g-5">
        @try
        {
            @foreach (var post in Model.OrderBy(post => post.PostOrder).ToList())
            {
                @if (post is null)
                    break;

                var @url = String.Format("/post/{0}", @post.PostID);
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="img-fluid" src=@post.Images alt=@post.Title>
                            <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                                href="#">@post.CategoryName</a>
                        </div>
                        <div class="p-4">
                            <div class="d-flex mb-3">
                                <small class="me-3"><i class="far fa-user text-primary me-2"></i>@post.Author</small>
                                <small><i
                                        class="far fa-calendar-alt text-primary me-2"></i>@post.CreatedDate?.ToString("dd/MM/yyyy")</small>
                            </div>
                            <h4 class="mb-3">@post.Title</h4>
                            <p>@post.Abstract</p>
                            <a class="text-uppercase" href=@url>Xem thêm<i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    </div>
</div>